:root {
  --font-size: 16px;
  --animation-speed: 1s;
  --background-color: aliceblue;
  --background-light: #f0f8ff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgb(216, 26, 26);
  /* ... other variables ... */
  --text-color: rgb(116, 7, 7);
  /* <--- You were missing this semicolon! */
  --text-light: gray;
  /* Now this line will actually work */

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  padding-top: 55px;
  

}

a {
  text-decoration: none;
}

.navbar {
  height: 70px;
  background-color: var(--background-color);
  box-shadow: 0 3px 6px var(--shadow-color);
  padding: 0 2em;
  color: var(--text-color);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 998;
  position: fixed;
  width: 100%;
  top: 0;

  .logo {
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(108, 9, 9);
    text-decoration: none;
  }
}

.nav-links {
  a {
    margin-left: 2em;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;



    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: rgb(156, 4, 4);
      position: absolute;
      bottom: -5px;
      left: 0;
      transform: scaleX(0);
      transition: transform calc(var(--animation-speed) *0.2) ease-in-out;

    }

    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &.active {
      color: rgb(156, 4, 4);
      font-weight: bold;


    }
  }
}


.sidebar-btn {
  height: 28px;
  width: 29px;
  display: none;
  position: relative;
  cursor: pointer;

  .bar {
    height: 6px;
    width: 100%;
    background-color: var(--text-color);
    position: absolute;
    border-radius: 4px;


    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform-origin: right;
      transform: scalex(.8) translateY(-50%);

    }

    &:nth-child(3) {
      top: 100%;
      transform-origin: right;
      transform: scalex(1.2) translateY(-100%);

    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--background-light);
  box-shadow: 0 0 0 1000px rgba(155, 140, 140, 0.2),
    0px 0 5px var(--shadow-color);
  z-index: 999;

}

.sidebar-link {
  display: block;
  padding: .5em 1em;
  border-left: .3em solid transparent;
  margin-bottom: 1em;
  color: rgb(97, 7, 7);
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;


  &.active {
    border-left-color: var(--primary-color);
  }

  &:hover {
    border-left-color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.05);
  }

  svg {
    width: 1.2em;
    margin-right: .6em;

  }



  .main {
    margin-top: 10em;
    padding-block: 3vw;
  }

  .container {
    padding-inline: 15vw;

  }



}

.options-container{

box-shadow: 0 5px 10px var(--shadow-color);
padding: 1em;
border-radius: 5px;
border-left: .5em solid var(--primary-color);
background-color: var(--background-light);
margin-top: 1em;
display: flex;
gap: 1em;

.option{
  height: 3.0em;
  width: 3.0em;
  box-shadow: 0 3px 6px var(--primary-color);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center; 
cursor: pointer;
&.light{
  background-color: #f0f8ff;

}
&.dark{
  background-color: black;
}
.check{
  height: 2.5em;
  width: 2.5em;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5ps var(--shadow-color);

  svg{
    height: 1.5em;
    width: 1.5em;

  }
}
}
}
.d-block .h2{
  font-size: 1.5em;

}

.section {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 3vw;
  margin-top: 1.5em;
  &.d-block{
  display: block;
  margin-left: 110px;
   }

  .title {
    font-size: 2.5em;

    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 0.25em;


  }

  .info {
    font-size: 1em;
    font-weight: bold;
    color: var(--text-light);
    margin-bottom: 1.25em;
    letter-spacing: 1px;
    line-height: 1.25em;

  }

  .Col {
    width: 50%;
  }


  .btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    padding: 1em .70em;
    letter-spacing: 1px;
    box-shadow: 0 2px 6px var(--primary-color);
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;

  }
}

.custom-image {
  background-color: blueviolet;
  height: 0;
  width: 100%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

img {
  object-fit: cover;
}


.section.hero {
  .typography {
    padding-right: 2em;
  }

  .gallery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25vw;

  }



}

.custom-image {
  border-radius: 3px;
  overflow: hidden;
}




.section.quote {
  display: block;

  .quote-text {
    font-size: 1.2em;
    line-height: 1.3em;
    color: var(--text-color);

    svg {
      color: var(--primary-color);
      font-size: 1.6em;
      margin-right: .5em;

    }
  }

  .quote-author {
    color: var(--text-light);
    text-align: right;
    margin-top: 1em;


  }

}

.section.chief {
  display: block;

  .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
  }

}

.chief-card {
  display: flex;
  height: 140px;
  width: 310px;
  gap: 1em;
  align-items: flex-start;
  background-color: rgb(234, 240, 246);
  box-shadow: 0 2px 2px;
  border-radius: 5px;

}

.chief-card-info {
  height: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: .3em;
  padding-left: 1em;
  gap: 0.7em;
  margin-bottom: 0.5em;
  margin-right: .05em;

}

.chief-card-name {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.1em;
  margin-top: .5em;

}

.chief-card img {
  height: 100%;
  width: 120px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 3px 6px var(--shadow-color);
}

.top-chief-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5em;
  margin-top: 1.7em;
}



.section.improve-skills .Col.img img {
  width: 100%;
}

.Col.typography {
  padding-left: 2em;

  .skill-item {
    border-left: .2em solid var(--primary-color);
    margin-bottom: .5em;
    padding: .2em 0 .2em .5em;
    color: var(--text-light);
    font-weight: bold;
  }

  .btn {
    margin-top: .75em;
  }
}


.footer {
  background-color: var(--background-color);
  color: black;
  padding-block: 2em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3em;
  margin-top: 6rem;

  .footer-section {
    p {
      opacity: .8;
      margin-bottom: .3em;
    }

    p.title {
      opacity: 1;
      font-weight: bold;
      margin-bottom: 1em;
      font-size: 1.1em;

    }
  }



}

.container {
  padding-inline: 25vw;

}


@media screen and (max-width:1280px) {
  .container {
    padding-inline: 18vw;
  }
}

@media screen and (max-width:1050px) {
  .container {
    padding-inline: 12vw;
  }
}


@media screen and (max-width:768px) {
  .navbar {
    .nav-links {
      display: none;
    }

    .sidebar-btn {
      display: block;
    }
  }

  .section .Col {
    width: 100%;
    padding: 0 !important;
    text-align: center;
    margin-bottom: 2em;
  }


  .container {
    padding-inline: 6vw;
  }
}



.previous-searches {
  display: block;
  margin: 20px 0;
}

.previous-searches h2 {
  color: var(--text-color);
  
  margin-bottom: 1em;
}
.previous-searches-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.search-item {
  background-color: rgb(239, 56, 56);
  padding: 10px 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1em;
}

.search-item:hover {
  background-color: #e0e0e0;
 
} 

.search-box{
  display: flex;
  align-items: center ;
  justify-content: left;
  padding-top: 30px;
  height: 35px;
  input{
    height: 30px;
    width: 250px;
     border: 1px solid black;
    
  }

  .btn {
    display: inline-flex;   
    align-items: center;   
    justify-content: center; 
    height: 30px;
    padding: 0 15px;        
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0; 
  input{
     min-width: 250px;
     padding: 1 0.5em;
     border-radius: 5px 0 0 5px;
     outline: none;
     border: 2px solid black;
  }
  
}
}
.recipes-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
grid-gap: 1.5em;

}
.recipe-card{
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 15px var(--shadow-color);
.recipe-card-info{
  padding: 15px;
  background-color: var(--background-color);
  width: 350px;
  height: 110px;
.recipe-title{
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: .5em;
  color:var(--text-color);
  margin-top: .0001em;

}
.recipe-note{
  color: var(--text-light);
  font-size: .8em;
  letter-spacing: 1px;
}
.view-btn{
  font-size: .8em;
  font-weight: bolder;
  color: var(--primary-color);
  margin-top: .9em;
  display: inline-block;
  letter-spacing: .3px;
}
}
}


@media screen and (max-width:480px) {
  .container {
    padding-inline: 3vw;
  }
}